<a href="/admin/product" class="list-group-item <%= active === '/admin/product' ? 'active' : '' %>">
    商品列表</a>
<a href="/admin/product/add" class="list-group-item <%= active === '/admin/product/add' ? 'active' : '' %>">
    增加商品</a>