<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>HELLOWORLD</title>
</head>
<body>
<h2>这是一个ejs的模板引擎</h2>
NOW:<%= now %>
<hr>
<% for (let v of [1, 2, 3, 4, 5, 6]){ %>
<p><%= v %></p>
<hr>
<% } %>
</body>
</html>